.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card-font{
  font-family: 'Anton', sans-serif;
}

.title-font{
  font-family: 'Luckiest Guy', cursive;
  font-size: 80px;
}

.center{
  margin: 0 auto;
}